.dialogs {
    display: grid;
    grid-template-columns: 2fr 8fr;
}

.dialogs__items {
    padding: 10px;
}

.dialogs__item {
}

.dialogs__item.active {
    background: green;
    color: bisque;
}

.dialogs__link {
    text-decoration: none;
}

.messages {
    padding: 10px;
}

.messages__item {
}
